CompileFlags:
  Add:
    - "-I/Users/byeongjee/llvm-project/llvm/include"
    - "-I/Users/byeongjee/llvm-project/build/include"
    - "-std=c++17"
  Remove:
    # Remove flags that clangd doesn't understand
    - "-fno-lifetime-dse"

---
# Suppress false-positive errors in MSP430 cross-compiled files
# (macOS clang doesn't have MSP430 support)
If:
  PathMatch: passes/runtime/rockclimb_.*\.c
Diagnostics:
  Suppress: ['*']

---
If:
  PathMatch: passes/runtime/rockclimb_.*\.h
Diagnostics:
  Suppress: ['*']
